{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Sign In" %}</h2>
<hr>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="text-muted">{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third-party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot text-center mb-4 socialaccount-div">
    <div class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>
</div>
<div class="login-or my-3 text-uppercase text-muted">
    <span>{% trans 'or' %}</span>
</div>
{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-muted">{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login needs-validation mt-4" method="POST" action="{% url 'account_login' %}" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="text-danger">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Username Input -->
    <div class="custom-form-group mb-3">
        <label for="login" class="custom-label">{% trans "Username" %}</label>
        {{ form.login }}
        {% if form.login.errors %}
            <div class="text-danger small">
                {% for error in form.login.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Password Input -->
    <div class="custom-form-group mb-3">
        <label for="password" class="custom-label">{% trans "Password" %}</label>
        {{ form.password }}
        {% if form.password.errors %}
            <div class="text-danger small">
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    
    

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <!-- Sign In and Home Buttons -->
    <div class="d-flex justify-content-between align-items-center mt-3">
       
        <button class="btn btn-primary rounded-0 shadow-sm px-4" type="submit">
            {% trans "Sign In" %}
        </button>
    </div>

    <!-- Important Message -->
    <div class="alert alert-warning text-center important-message">
        <strong>Attention:</strong> If you registered using Google or another third-party provider and have not set a password, 
        please click the <strong>"Reset Password"</strong> button. You will receive an email with instructions to create a password.  
        <br>If you signed up using the standard registration form, you can ignore this message.
    </div>

    <!-- Reset Password Section -->
    <div class="text-center mt-4">
        <p class="mb-1">{% trans "Forgotten your password? Get a new one!" %}</p>
        <a href="{% url 'account_reset_password' %}" class="btn reset-password-button btn-sm rounded-0">
            {% trans "Reset Password" %}
        </a>
    </div>
</form>


<div class="text-center mt-3">
    <p>{% trans "Don't have an account?" %} 
        <a href="{{ signup_url }}" class="btn btn-primary signup-button btn-sm rounded-0">
            {% trans "SignUp" %}
        </a>
    </p>
</div>
{% endblock %}
