{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Sign Out" %}</h2>
<hr>

<p class="text-muted">{% trans 'Are you sure you want to sign out?' %}</p>

<form class="logout-form needs-validation mt-4 text-center" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    
    <div class="d-flex justify-content-center gap-3">
        <button class="btn rounded-0 shadow-sm px-4" type="submit">
            {% trans "Sign Out" %}
        </button>
    </div>
</form>
{% endblock %}
