{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container cart-main-div">
    <div class="row">
        <div class="col">
            <h2 class="shopping-cart-heading text-center">Your Shopping Cart</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ cart_items }}
            {% if cart_items %}
            <div class="cart-items-wrapper">
                {% for item in cart_items %}
                <div
                    class="cart-item d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 p-3 border-bottom">
                    <div class="cart-item-img mb-3 mb-md-0">
                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                            style="max-width: 150px; height: auto;">
                    </div>
                    <div class="cart-item-info d-flex flex-column mb-3 mb-md-0 text-center text-md-start">
                        <strong class="cart-item-title">{{ item.product.name }}</strong>
                        <small class="cart-item-sku text-muted">SKU: {{ item.product.sku|upper }}</small>
                        <small class="cart-item-size text-muted">
                            {% if item.size %}
                            Size: {{ item.size }}
                            {% endif %}
                        </small>
                    </div>
                    <div class="cart-item-price text-center mb-3 mb-md-0">
                        <p class="my-0">Price: <i
                                class="fa-solid fa-euro-sign fa-sm"></i>{{item.product.price|floatformat:2 }}</p>
                    </div>
                    <div class="cart-item-qty text-center mb-3 mb-md-0">
                        <p class="my-0">Quantity: {{ item.quantity }}</p>
                    </div>
                    <div class="cart-item-subtotal text-center">
                        <p class="my-0">Subtotal: <i
                                class="fa-solid fa-euro-sign fa-sm"></i>{{item.subtotal|floatformat:2 }}</p>
                    </div>

                    <!-- Cart Actions (Now Inside) -->
                    <div class="cart-actions d-flex justify-content-between w-100 mt-2">
                        <!-- Button trigger delete modal -->
                        <button type="button" class="btn btn-danger btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        data-id="{{ item.id }}"
                        data-size="{{ item.size|default:'' }}"
                        data-name="{{ item.product.name }}"
                        data-url="{% if item.size %}{% url 'delete-cart-item' item.id item.size %}{% else %}{% url 'delete-cart-item' item.id %}{% endif %}">
                        <i class="fa-solid fa-trash-can fa-lg"></i> Remove
                        </button>

                        <!-- Update Button (Right) -->
                        <a href="{% url 'update-cart-item' item.id %}" class="btn btn-info btn-sm update-item-btn">
                            <i class="fa-regular fa-pen-to-square fa-lg"></i> Update
                        </a>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm modal-md modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel" style="color: black;"><strong>Confirm
                                        Deletion</strong></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <h6>Are you sure you want to delete <strong><em id="modal-product-name"></em></strong>
                                    from the cart? This action cannot be undone.</h6>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Not sure</button>
                                {% if item.size %}
                                <a href="#" id="delete-button" class="btn btn-danger"
                                    data-url="{% url 'delete-cart-item' item.id %}/{{ item.size }}/">
                                    Delete
                                </a>
                                {% else %}
                                <a href="#" id="delete-button" class="btn btn-danger"
                                    data-url="{% url 'delete-cart-item' item.id %}">
                                    Delete
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}


                <div class="cart-summary mt-5">
                    <h4><strong>Cart Total: <i class="fa-solid fa-euro-sign fa-sm"></i>{{ total|floatformat:2}}</strong>
                    </h4>
                    <h6>Delivery: <i class="fa-solid fa-euro-sign fa-sm"></i>{{ delivery|floatformat:2 }}</h6>
                    <h3 class="mt-4"><strong>Final Total: <i
                                class="fa-solid fa-euro-sign fa-sm"></i>{{final_total|floatformat:2 }}</strong></h3>
                    {% if free_delivery_delta > 0 %}
                    <div class="alert alert-warning mt-3">
                        You could get free delivery by spending <strong><i
                                class="fa-solid fa-euro-sign fa-sm"></i>{{free_delivery_delta|floatformat:2}}</strong>
                        more!
                    </div>
                    {% endif %}
                </div>

                <div class="cart-actions d-flex justify-content-between flex-column flex-md-row mt-4">
                    <a href="{% url 'products' %}" class="keep-shopping-btn btn rounded-1 text-uppercase mb-3 mb-md-0">
                        <i class="fa-solid fa-circle-chevron-left"></i> Keep Shopping
                    </a>
                    <a href="#" class="checkout-btn btn rounded-1 text-uppercase">
                        Secure Checkout <i class="fa-solid fa-fingerprint"></i>
                    </a>
                </div>

            </div>
            {% else %}
            <p class="lead mb-6">Currently you don't have any items in your cart.</p>
            <a href="{% url 'products' %}" class="browse-style-btn btn btn-lg rounded-1 text-uppercase py-3">
                <span class="icon">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                </span>
                <span>Browse our styles</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'js/cart_item_delete_confirmation.js' %}"></script>

{% endblock %}