asgiref==3.8.1
cloudinary==1.36.0
dj-database-url==2.3.0
dj3-cloudinary-storage==0.0.6
Django==5.1.4
django-allauth==65.3.1
django-crispy-forms==2.3
gunicorn==23.0.0
jmespath==1.0.1
pillow==11.1.0
psycopg2==2.9.9
PyJWT==2.10.1
sqlparse==0.5.3
stripe==11.4.1
urllib3==1.26.20
whitenoise==6.8.2
requests
cryptography>=3.3.2
