asgiref==3.8.1
boto3==1.35.97
botocore==1.35.97
dj-database-url==2.3.0
Django==5.1.4
django-allauth==65.3.1
django-crispy-forms==2.3
django-storages==1.14.4
gunicorn==23.0.0
jmespath==1.0.1
pillow==11.1.0
psycopg2==2.9.9
PyJWT==2.10.1
s3transfer==0.10.4
sqlparse==0.5.3
requests
cryptography>=3.3.2
