<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="women-clothing">
                Women
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="men-clothing">
                Men
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="#" id="new-arrivals-link">
                New Arrivals
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="#" id="accessories-link">
                Accessories
            </a>
        </li>
    </ul>
</div>