{% load static %}

<!doctype html>

<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discover the finest collection of 
    traditional Afghan clothing at Ayina Couture. 
    Shop handmade dresses, stylish outfits, and unique designs.">
    <meta name="keywords" content="Afghan clothing, traditional Afghan dresses,
    Afghan fashion, handmade Afghan outfits, Ayina Couture, Afghan dresses online">

    <!-- Bootstrap CSS for styling the website -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Vinyl&display=swap"
        rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <!-- Css file link -->
    <link rel="stylesheet" href="{% static 'css/core.css' %}">


    <title>Ayina Couture - The Best Afghan Clothing Online</title>
</head>

<body>
    <!-- Fixed header section, it spans the full width (container-fluid) and is fixed at the top of the page -->
    <header class="container-fluid fixed-top main-header">
        <div id="topnavbar" class="row d-lg-flex pt-lg-2 d-none">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1 class="logo-font my-0"><strong>Ayina</strong><em>Couture</em></h1>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="{% url 'profile' %}" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="text-center" id="account-link">
                                <div><i class="fa-solid fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'product-add' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'list-wishlist' %}">
                            <div class="text-center" id="wishlist-link">
                                <div><i class="fa-solid fa-heart fa-lg"></i></div>
                                <p class="my-0">
                                    My Wishlist
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if final_total %}text-success{% endif %} nav-link" href="{% url 'view-cart' %}">
                            <div class="text-center" id="card-link">
                                <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                <p class="my-0">
                                    {% if final_total %}
                                    €{{ final_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control rounded-0" type="text" name="query"
                            placeholder="Explore Afghan fashion">
                        <div class="input-group-append" id="search-top-link">
                            <button class="form-control btn rounded-0">
                                <span class="search-icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-header.html' %}
                {% include 'includes/main-navbar.html' %}
            </nav>
        </div>
        {% if request.path == '/' %}
        <!-- Popup Modal for Free Delivery -->
        <div id="freeDeliveryPopup" class="popup-container">
            <div class="popup-message">
                <span class="popup-close" id="popupCloseBtn">&times;</span>
                <p><strong>Free delivery on purchases over €{{ free_delivery_threshold }} — Don’t miss out!</strong></p>
            </div>
        </div>
        {% endif %}
    </header>
    <!-- Spacer to offset the fixed header -->
    <div class="header-spacer"></div>
    <!-- Checking if there are any messages (Django messages framework) -->
    {% if messages %}
    <div class="message-box">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}


    <!-- Main content block -->
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer class="footer text-white text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <!-- About Section -->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About Us</h5>
                    <p>
                        We are committed to delivering high-quality products and services. Your satisfaction is our priority.
                    </p>
                </div>

                <!-- Links Section -->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home' %}" class="quick-link">Home</a></li>
                        <li><a href="{% url 'products' %}" class="quick-link">Shop</a></li>
                        <li><a href="{% url 'contact' %}" class="quick-link">Contact</a></li>
                    </ul>
                </div>

                <!-- Social Media Section -->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="https://www.facebook.com/" class="btn btn-outline-light btn-floating m-1 footer-links" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://x.com/" class="btn btn-outline-light btn-floating m-1 footer-links" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="btn btn-outline-light btn-floating m-1 footer-links" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com" class="btn btn-outline-light btn-floating m-1 footer-links" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com/" class="btn btn-outline-light btn-floating m-1 footer-links" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 Ayina Couture. All rights reserved.
        </div>
    </footer>
    <!-- Bootstrap JS with Popper.js for interactive components -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- JQuery link -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Font Awsome link -->
    <script src="https://kit.fontawesome.com/fd7875ea58.js" crossorigin="anonymous"></script>
    <!-- Strip js -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- local scripts -->
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/show_toasts.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    const header = document.querySelector(".main-header");
    const spacer = document.querySelector(".header-spacer");

    function adjustSpacerHeight() {
        spacer.style.height = `${header.offsetHeight}px`;
    }

    // Adjust on page load and window resize
    adjustSpacerHeight();
    window.addEventListener("resize", adjustSpacerHeight);
    });

    </script>
    {% block postloadjs %}
    {% endblock %}
</body>
</html>