{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container product-main-page">
    <div class="container-fluid">
        <h2>
            Our Styles
        </h2>
        <p class="text-muted">
            {% if search or collection %}
                Showing <strong>{{ page_obj.paginator.count }}</strong> result(s) 
                {% if search %} for search: "<strong>{{ search }}</strong>"{% endif %}
                {% if collection %} in collection: "<strong>{{ collection }}</strong>"{% endif %}
            {% else %}
                Showing <strong>{{ page_obj.paginator.count }}</strong> product(s)
            {% endif %}
        </p>
    </div>
    <hr class="w-100 md-1">
    <br>
    <div class="row">
        {% for product in page_obj %}
        <div class="col-12 col-md-6 col-lg-4 mb-4 product-item">
            <div class="card h-100 shadow-sm">
                {% if product.image %}
                <a href="{% url 'product-detail' pk=product.id %}"><img src="{{ product.image.url }}"
                        class="card-img-top img-fluid fixed-img" alt="{{ product.name }}"></a>

                {% else %}
                <a href="{% url 'product-detail' pk=product.id %}">
                    <img src="{% static 'images/no-image.jpg' %}" class="card-img-top img-fluid fixed-img"
                        alt="No image available">
                </a>

                {% endif %}
                <div class="card-body product-info">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>Material: {{ product.material }}</p>
                    <p>Price: €{{ product.price }}</p>
                    {% if product.average_rating %}
                    <p>Rating: {{ product.average_rating }}/{{ top_rate_value }} |
                        <span class="stars">
                            {% for i in rating_range %}
                            {% if i <= product.average_rating %} ★ <!-- Full Star -->
                                {% else %}
                                ☆ <!-- Empty Star -->
                                {% endif %}
                                {% endfor %}
                        </span>
                    </p>
                    {% else %}
                    <p>No ratings yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-container">
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        href="?page=1{% if search %}&query={{ search }}{% endif %}{% if collection %}&collection={{ collection }}{% endif %}"
                        aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{ page_obj.previous_page_number }}{% if search %}&query={{ search }}{% endif %}{% if collection %}&collection={{ collection }}{% endif %}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <!-- Display Page Numbers -->
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active">
                    <a class="page-link"
                        href="?page={{ num }}{% if search %}&query={{ search }}{% endif %}{% if collection %}&collection={{ collection }}{% endif %}">{{num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{ num }}{% if search %}&query={{ search }}{% endif %}{% if collection %}&collection={{ collection }}{% endif %}">{{num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{ page_obj.next_page_number }}{% if search %}&query={{ search }}{% endif %}{% if collection %}&collection={{ collection }}{% endif %}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{ page_obj.paginator.num_pages }}{% if search %}&query={{ search }}{% endif %}{% if collection %}&collection={{ collection }}{% endif %}"
                        aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

</div>
{% endblock %}