<div class="toast rounded-0 border-top-0 toast-message" data-bs-autohide="false" style="position: fixed; top: 0; left: 50%; transform: translateX(-50%); z-index: 1050; background: linear-gradient(to right, #ffcc00, #ff6600); border: none;">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header bg-transparent text-white d-flex justify-content-between w-100">
        <strong class="mr-auto">Info</strong>
        <button type="button" class="close text-white" data-bs-dismiss="toast" aria-label="Close" style="border: none; background: none; font-size: 1.5rem;">
            <i class="fa-solid fa-rectangle-xmark"></i>
        </button>
    </div>
    <div class="toast-body text-white" style="background: linear-gradient(to right, rgba(0, 123, 255, 0.8), rgba(40, 167, 69, 0.8));">
        {{ message }}
    </div>
</div>